/* app.css */
body{
  background-image: url("C:\Users\sanskriti.jha\Downloads\stock-vector-chat-dialog-boxes-in-glass-morphism-effect-style-transparent-frosted-acrylic-speech-bubble-on-2188045201.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}